site_name: Gaia-X Operational Handbook
theme: readthedocs
#  features:
#    - navigation.top
repo_url: https://gitlab.com/gaia-x/gaia-x-community/operational-handbook
site_dir: public
extra_css: [extra.css]

nav:
  - ./mission_documents/dsbc.md
  - ./mission_documents/dsbc-technology.md
  - ./mission_documents/technical-committee_architecture.md
  - ./mission_documents/technical-committee_federation-services_catalogue.md
  - ./mission_documents/technical-committee_federation-services_compliance.md
  - ./mission_documents/technical-committee_federation-services_identity-and-access-management.md
  - ./mission_documents/technical-committee_federation-services.md
  - ./mission_documents/technical-committee_federation-services_minimal-viable-gaia-x.md
  - ./mission_documents/technical-committee.md
  - ./mission_documents/technical-committee_portfolio.md
  - ./mission_documents/technical-committee_provider.md
  - ./mission_documents/technical-committee_x-association.md
  - ./mission_documents/technical-committee_xxx-interconnection.md 

plugins:
    - search
{%- if generate_pdf is defined %}
    - with-pdf:
        #verbose: true
        author: Gaia-X European Association for Data and Cloud AISBL
        copyright: ©2021 Gaia-X European Association for Data and Cloud AISBL
        cover_title: Gaia-X Operational Handbook
        cover_logo: figures/gaia-x-logo-full.svg        
        render_js: true
        headless_chrome_path: chromium
        debug_html: true
        custom_template_path: template_pdf
{%- endif %}