/* PDF fonts */
@media print {
    html,  body,
    article,
    h1, h2, h3, h4, h5, h6,
    label, ul, li {
      font-family: "Titillium Web" !important;  
    }
  
    html, body,
    article,
    label, ul, li,
    table, thead, tbody, tr, td, article#doc-toc ul {
      font-family: "Titillium Web" !important;  
      font-size: 10pt !important; // default size in LaTeX document
    }
  }
  .custom-logo {
    position: absolute;
    top: 50px;
    right: 50px;
  }

  .pdf-order {
      display: none;
  }

 article h1 {
      border-bottom: 2px solid rgba(185,0,255, 1.0);
 }

 article h2 {
    border-bottom: 1px solid rgba(185,0,255, 1.0);
 }

 p {
     font-size: 10pt !important;
 }